<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>Repeat Counter</title>
        <style>
            #result {
                text-indent: 2em;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Repeat Counter Results</h1>
            <hr>
            <p class="lead">
                The word <b>{{ keyword }}</b> appears in the string <b>"{{ string }}":</b>
            </p>
                <br>
                <br>
                <div class="lead" id="result"><b>{{ repeats }}</b> time(s).</div>
                <br>
                <br>
                <p class="lead"><a href="/">Search another string</a></p>
        </div>
    </body>
</html>
