<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>Repeat Counter</title>
    </head>
    <body>
        <div class="container">
            <h1>Repeat Counter</h1>
            <hr>
            <p class="lead">Fill out the form below to find out how many times the keyword appears in the string of text.</p>
            <form action="/search_form">
                <div class="form-group">
                    <label for="search_string">Enter in a string of text:</label>
                    <input id="search_string" name="search_string" class="form-control" type="text">
                    <br>
                    <label for="keyword">What keyword would you like to search for?</label>
                    <input id="keyword" name="keyword" class="form-control" type="text">
                </div>
                <button type="submit" class="btn-success">Submit</button>
            </form>
        </div>
    </body>
</html>
